@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto Condensed';
    margin: 10px;
}

.back-button{
    font-family: 'Roboto Condensed';
    position: fixed;
    background-color: rgb(233, 232, 232);
    bottom: 40px;
    right: 60px;
    padding: 8px 40px;
    border-radius: 2px;
    border: 2px;
    border-color: black;
    color: black;
    text-decoration: none;
    font-weight: bold;
    z-index: 9999;
}


* {
    border: 2px solid black 
}

.Abstandoben {
    height: 50px;
}

.inhalt {
    display: inline-block;
    text-align: center;
    font-size: 14vh;
    margin: 0px;
    border: 0px;
}

.zeile {
    display: flex;
    direction: row;
    justify-content:right;
    align-items: center;
    margin: 0px;
    padding: 0px;
    height: calc((100vh - 50px)/7 );

}

.balken {
    height: calc((100% - 1vh));
    background-color: black;
    width: 1000px;
    
}